body {
	background-color: #BBB;
}

h3 {
	margin-top: 0;
}

.location {
	position: relative;
	right: 10px;
}

p.location small {
	font-size: 0.7em;
}

p {
	margin: 0;
}

.card{
	display: inline-block;
	width: calc(33% - 20px);
	max-width: 400px;
	background-color: #FFF;
	-webkit-box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.8);
	box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.8);
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	padding: 1em;
	margin: 10px;
}

.card > .container {
	max-width: 100%;
}

.cardView {
	max-width: 100%;
}

.cardView > .card {
	width: 100%;
}

.statKey {
	float: left;
	color: #BBB;
}

.statValue {
	float: right;
}

.compareView {
	position: relative;
	width: 280%;
}